/* Normalize CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

/* Container style */
.container {
    position: relative;
    width: 100%;
}

/* Image style */
.container img {
    width: 100%;
    display: block;
    z-index: -1;
}

/* Text overlay style */
.text-overlay {
    color: black;
    font-family: sans-serif;
    opacity: 0.7;
    font-weight: 200;
    z-index: 100;
}

/* overlay paragraph style */
.text-overlay p {
    font-size: 1rem;
    position: absolute;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s, transform 0.3s;
}
.text-overlay p.hover{
    transform: translateX(-50%) scale(1.2);
    color: #ff0000;
}

/* Button transition */
.btn-lh,
.btn-sme,
.btn-tn,
.btn-cc,
.btn-ht,
.btn-tc,
.btn-ft,
.btn-edu {
    position: absolute;
    transform: translateX(-50%);
    transition: color 0.3s, transform 0.3s;
}

/* Individual button positions */
.btn-lh {
    top: 10%;
    left: 50%;
}

.btn-sme {
    top: 21%;
    left: 38%;
}

.btn-tn {
    top: 32%;
    left: 32%;
}

.btn-cc {
    top: 43%;
    left: 29%;
}

.btn-ht {
    top: 55%;
    left: 27%;
}

.btn-tc {
    top: 66%;
    left: 27%;
}

.btn-ft {
    top: 77%;
    left: 30%;
}

.btn-edu {
    top: 86%;
    left: 35%;
}

/* Text positioning */
.text {
    font-family: sans-serif;
    opacity: 0.7;
    position: absolute;
    top: 45%;
    left: 57.5%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}


/* Icon style */
i {
    font-size: 1rem;
    opacity: 0.7;
    margin-right: 1.5rem;
    font-weight: bold;
}

/* Bold text style */
.bold-txt {
    font-family: sans-serif;
    opacity: 0.7;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: -0.1rem;
}

/* Description text style */
.descrp-txt {
    line-height: 1.5rem;
    opacity: 0.7;
    max-width: 70%;
}

/* Arrow style */
.arrow {
    color: red;
    display: flex;
    align-items: center;
    gap: 1rem;
}


/* Logo style */
.logo {
    position: absolute;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
}

.logo-Blue {
    top: 17%;
    left: 57%;
    background-color: black;
    color: white;
}

.logo-PVR {
    top: 22%;
    left: 51%;
    background-color: red;
    color: black;
}

.logo-TCS {
    top: 31%;
    left: 46%;
    background-color: black;
    color: white;
}

.logo-Coinbase {
    top: 40%;
    left: 41%;
    background-color: red;
    color: black;
}

.logo-NetMeds {
    top: 52%;
    left: 38%;
    background-color: black;
    color: white;
}

.logo-Jio {
    top: 62%;
    left: 36%;
    background-color: red;
    color: black;
}

.logo-Paytm {
    top: 73%;
    left: 37%;
    background-color: black;
    color: white;
}

.logo-Unacademy {
    top: 79%;
    left: 43%;
    background-color: red;
    color: black;
}

/* Media queries for responsive design */
@media (max-width: 1200px) {

    .bold-txt {
        font-size: 1.75rem;
        letter-spacing: 0;
    }

    .descrp-txt {
        font-size: 0.9rem;
        line-height: 1.5rem;
    }

    i {
        font-size: 1rem;
        opacity: 0.7;
        margin-right: 0.2rem;
        font-weight: bold;
    }

}

@media (max-width: 800px) {

    .bold-txt{
        font-size: 0.6rem;
    }

    .descrp-txt {
        display: none;
    }
    .arrow {
        color: red;
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: 0.5rem;
    }
    i {
        font-size: 0.5rem;
        opacity: 0.7;
        margin-right: 0.2rem;
        font-weight: bold;
    }

    .text-overlay p {
        color: black;
        font-family: sans-serif;
        opacity: 0.7;
        font-weight: 200;
        font-size: 0.5rem;
        z-index: 100;
    }
    .logo {
        position: absolute;
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.7rem;
        font-weight: bold;
    }
}